<!-- Basic Information Section -->
<ul class="basic_information" style="list-style: none;">
	<li><h4>Birthdate</h4></li>
	<li id="birthday-display"><%= render "people/basic_forms", :person => person, :category => "birthday-display" %></li>
	<li id="birthday-month"><%= render "people/basic_forms", :person => person, :category => "birthday-month" %></li>
	<li id="birthday-day"><%= render "people/basic_forms", :person => person, :category => "birthday-day" %></li>
	<li id="birthday-year"><%= render "people/basic_forms", :person => person, :category => "birthday-year" %></li>
	<li><h4>Facebook</h4></li>
	<li id="facebook"><%= render "people/basic_forms", :person => person, :category => "facebook" %></li>
	<li><h4>Twitter</h4></li>
	<li id="twitter"><%= render "people/basic_forms", :person => person, :category => "twitter" %></li>
	<li><h4>LinkedIn</h4></li>
	<li id="linkedin"><%= render "people/basic_forms", :person => person, :category => "linkedin" %></li>
	<li><h4>Wikipedia</h4></li>
	<li id="wikipedia"><%= render "people/basic_forms", :person => person, :category => "wikipedia" %></li>
	<li><h4>Tumblr</h4></li>
	<li id="tumblr"><%= render "people/basic_forms", :person => person, :category => "tumblr" %></li>
</ul>
