<!-- Country -->
<h4>Country</h4>
<div id="country"><%= render "people/contact_forms", :person => person, :category => "country" %></div>
<!-- State -->
<h4>State / Province</h4>
<div id="state"><%= render "people/contact_forms", :person => person, :category => "state" %></div>
<!-- City -->
<h4>City</h4>
<div id="city"><%= render "people/contact_forms", :person => person, :category => "city" %></div>
<!-- Address -->
<h4>Address</h4>
<div id="address"><%= render "people/contact_forms", :person => person, :category => "address" %></div>
<!-- Phone -->
<h4>Phone</h4>
<div id="phone"><%= render "people/contact_forms", :person => person, :category => "phone" %></div>
<!-- Email -->
<h4>Email</h4>
<div id="email"><%= render "people/contact_forms", :person => person, :category => "email" %></div>
