<!-- Index page for showing people -->
<div class="hero-unit">
	<h3>The People Index</h3>
	<% if moderator_signed_in? %>
		<h5>Welcome back, master</h5>
	<% else %>
		<h5>You're... not suppose to be here...</h5>
		<p>Well, good for you if you've stumbled upon this page. If you're wondering why there is no link to this page from anywhere else,
		it's because I personally don't want you looking through the index. In fact, the index is more for me (the admin) to do admin-related
		work like deleting obvious spam-troll profiles and clearing out trash to the best of my abilities.</p>
		<p>Anyway, consider leaving</p>
	<% end %>
	<%= link_to "Go Back", root_path, :class => "btn primary large" %>
</div>

<div class="row">
<%= will_paginate @people %>
<% @people.each do |person| %>
	<div id="person-id-<%= person.id %>">
		<%= render "people/preview", :person => person %>
		<% if moderator_signed_in? %>
			<%= link_to "delete person", person_path(person), :method => :delete, :remote => true %>
		<% end %>
	</div>
<% end %>
</div>
