<script type="text/javascript">
	var map;
  var markersArray = [];
  
  function initialize(){
		var mylatlng = new google.maps.LatLng(<%= location[:lat] %>, <%= location[:lng] %> );
		var myOptions = {
			zoom: <%= initial_zoom %>,
			center: mylatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP					
		 };
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		<% for j in 0..rumors.count-1 %>
			<% rumor = rumors[j] %>
      var location = new google.maps.LatLng(<%= rumor[:latitude] %>, <%= rumor[:longitude] %> );
      addMarkers(location, "<%= rumor.title %>" );
		<% end %>
    
    showMarkers();
	}

	function addMarkers(location, title){
    markersArray.push(
      new google.maps.Marker({
        position: location,
        map: map,
        title: title
      })
    );
  }
  
  function showMarkers(){
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(map);
      }
    }
  }
  					
</script>
<body onload="initialize()" />
<div id="map_canvas"> </div>

