<script type="text/javascript">
	var map;
  var markersArray = [];
    var infowindow;

  function initialize(){
		var mylatlng = new google.maps.LatLng(<%= location[:lat] %>, <%= location[:lng] %> );
		var myOptions = {
			zoom: <%= initial_zoom %>,
			center: mylatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP					
		 };
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		<% for j in 0..rumors.count-1 %>
			<% rumor = rumors[rumors.count-1-j] %>
      var location = new google.maps.LatLng(<%= rumor[:latitude] %>, <%= rumor[:longitude] %> );
      addMarkers(location, "<%= escape_javascript( "#{rumor.title}") %>","<%= escape_javascript("#{rumor.content}") %>" );


		<% end %>

    showMarkers();
	}

	function addMarkers(location, title,content){
       var marker =  new google.maps.Marker({
        position: location,
        map: map,
        title: title
      });
        markersArray.push(marker);
        google.maps.event.addListener(marker, "click", function() {
            if (infowindow) infowindow.close();
            infowindow = new google.maps.InfoWindow({content: content});
            infowindow.open(map, marker);
            map.setCenter(location);
        });

  }


  function showMarkers(){

      if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(map);
      }
    }

  }
    	function patchMarkers(latitude,longitude,title,content){
          var location = new google.maps.LatLng(latitude,longitude);
            var marker =  new google.maps.Marker({
        position: location,
        map: map,
        title: title
      });
        markersArray.push(marker);
        google.maps.event.addListener(marker, "click", function() {
            if (infowindow) infowindow.close();
            infowindow = new google.maps.InfoWindow({content: content});
            infowindow.open(map, marker);
            map.setCenter(location);
        });
       marker.setMap(map);
  }
  function removeMarker(count) {

      var i = (markersArray.length -1) - count;
    if(markersArray){

       markersArray[i].setMap(null);
        markersArray.splice(i,1);
        }
  }
</script>
<body onload="initialize()" />
<div id="map_canvas"> </div>

