<%= form_for @rumor, :remote => true do |r| %>
	<%= render 'shared/error_messages', :object => r.object %>
	<div class="content">
<!--		<%= r.label :content, "Rumor" %>-->
		<%= r.text_area :content %>
	</div>
	<%= r.submit %>
<% end %>
