<tr class="rumor">
	<td class="rumor">
		<span class="content">
      <%= rumor.content %>
      <%= link_to "delete", rumor, :method => :delete, :confirm => "You sure?" ,
                                :title => "Delete #{rumor.title}" %>
      
    </span>
    <br>
		<span class="location">
			Spread around:  <%= rumor.latitude %>, <%= rumor.longitude %>
		</span>
		<span class="timestamp">
			Spread <%= time_ago_in_words(rumor.created_at) %> ago.
		</span>
	</td>
</tr>
