<!-- About page -->
<div class="hero-unit">
	<% if moderator_signed_in? %>
		<h2>Welcome, <%= current_moderator.username %>!</h2>
		<p><%= link_to "Moderator Sign Out", destroy_moderator_session_path, :method => :delete %></p>
	<% else %>
		<h2>About the Rumor Mill</h2>
		<p><%= link_to "Moderator Sign In", new_moderator_session_path %></p>
	<% end %>
</div>
<div class="row">
	<div class="span-one-third">
		<h4>FAQs</h4>
		<% if @mp0.nil? || @mp0.empty? %>
			<p>Nothing here yet!</p>
		<% else %>
			<%= will_paginate @mp0 %>
			<%= render "macroposts/macroposts", :macroposts => @mp0 %>			
		<% end %>
		<% if moderator_signed_in? %>
			<% @meta = { :board => "about", :section => "a" } %>
			<%= render "macroposts/form", :macropost => @macropost, :moderator => @moderator, :meta => @meta %>
		<% end %>
	</div>
	<div class="span-one-third">
		<h4>Terms of Service</h4>
		<% if @mp1.nil? || @mp1.empty? %>
			<p>Nothing here yet!</p>
		<% else %>
			<%= will_paginate @mp1 %>
			<%= render "macroposts/macroposts", :macroposts => @mp1 %>			
		<% end %>
		<% if moderator_signed_in? %>
			<% @meta = { :board => "about", :section => "b" } %>
			<%= render "macroposts/form", :macropost => @macropost, :moderator => @moderator, :meta => @meta %>
		<% end %>
	</div>
	<div class="span-one-third">
		<h4>The Staff</h4>
		<% if @mp2.nil? || @mp2.empty? %>
			<p>Nothing here yet!</p>
		<% else %>
			<%= will_paginate @mp2 %>
			<%= render "macroposts/macroposts", :macroposts => @mp2 %>			
		<% end %>
		<% if moderator_signed_in? %>
			<% @meta = { :board => "about", :section => "c" } %>
			<%= render "macroposts/form", :macropost => @macropost, :moderator => @moderator, :meta => @meta %>
		<% end %>
	</div>
</div>
