<!-- Contact page -->
<div class="hero-unit">
	<% if moderator_signed_in? %>
		<h2>Welcome, <%= current_moderator.username %>!</h2>
		<p><%= link_to "Moderator Sign Out", destroy_moderator_session_path, :method => :delete %></p>
	<% else %>
		<h2>Contact us!</h2>
		<p><%= link_to "Moderator Sign In", new_moderator_session_path %></p>
	<% end %>
</div>
<div class="row">
	<div class="span-one-third">
		<h4>Emails</h4>
		<div id="emails-display">
			<% if @mp0.nil? || @mp0.empty? %>
				<p>Nothing here yet!</p>
			<% else %>
				<%= will_paginate @mp0 %>
				<%= render "macroposts/macroposts", :macroposts => @mp0 %>
			<% end %>
		</div>
		<div id="emails-form">
			<% if moderator_signed_in? %>
				<% @meta = { :board => "contact", :section => "a" } %>
				<%= render "macroposts/form", :macropost => @macropost, :moderator => @moderator, :meta => @meta %>
			<% end %>
		</div>
	</div>
	<div class="span-one-third">
		<h4>IRC</h4>
		<div id="irc-display">
			<% if @mp1.nil? || @mp1.empty? %>
				<p>Nothing here yet!</p>
			<% else %>
				<%= will_paginate @mp1 %>
				<%= render "macroposts/macroposts", :macroposts => @mp1 %>
			<% end %>
		</div>
		<div id="irc-form">
			<% if moderator_signed_in? %>
				<% @meta = { :board => "contact", :section => "b" } %>
				<%= render "macroposts/form", :macropost => @macropost, :moderator => @moderator, :meta => @meta %>
			<% end %>	
		</div>
	</div>
	<div class="span-one-third">
		<h4>Miscellanious Methods</h4>
		<div id="miscellanious-methods-display">
			<% if @mp2.nil? || @mp2.empty? %>
				<p>Nothing here yet!</p>
			<% else %>
				<%= will_paginate @mp2 %>
				<%= render "macroposts/macroposts", :macroposts => @mp2 %>
			<% end %>
		</div>
		<div id="miscellanious-methods-form">		
			<% if moderator_signed_in? %>
				<% @meta = { :board => "contact", :section => "c" } %>
				<%= render "macroposts/form", :macropost => @macropost, :moderator => @moderator, :meta => @meta %>
			<% end %>
		</div>
	</div>
</div>
