<!-- Footer -->
<%= yield :scripts %>
<footer>
<p>
	&raquo; Rumor Mill 2012 |
	<%= link_to "Home", "/" %> |
	<%= link_to "About", "/about" %> |
	<%= link_to "Miscellanious", "/misc" %> |
	<%= link_to "Contact", "/contact" %> |
	<%= link_to "Developer", "/developer" %>
</p>
</footer>
