<!-- Header file -->
<%= yield :head %>

<header>
<nav>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">Rumofile</a>
      <ul class="nav">
        <li class="active"><%= link_to "Rumor Profiles", root_path %></li>
        <li class="active"><%= link_to "Index", people_path %></li>
      
		<% flash.each do |key, value| %>
			<%= content_tag(:li, value, :class => "flash #{key} active") %>
		<% end %>
	</ul>
      <%= render "people/simple_search", :location => get_coordinates, :ip => get_ip %>
    </div>
  </div>
</div>
</header>
</nav>
