<!DOCTYPE html>
<html>
<head>
  <title>Gossip</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "rails.js" %>

	<%= render 'layouts/javascripts' %>	
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
